.git
.git*
.dockerignore
.vagrant
.idea
.DS_Store
.htaccess
.vscode
*.md
*.js
*.sh
data/*
plugins/*
tests
ChangeLog
custom-hooks
Dockerfile
Makefile
Vagrantfile
web.config
assets/css/src
assets/vendor